.Sidebar {
  /*background: lightgreen;*/
  width: var(--sidebar-width);
  height: calc(100vh - var(--header-backHeight));
<<<<<<< HEAD
  flex-direction: column;
}
.group {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
}
.logout {
=======

>>>>>>> dca9296298d7de7e52f6b8079849c773bd3da6c5
}

.content {
  height: 50vh;
  border: 1px solid red;

}

.sidebarItem {
  border: 1px solid blue;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  margin: 7px 15px;
  border-radius: 6px;
  background-color: var(--buttonBackground);
}

a {
  text-decoration: none;
}