.crud-container {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.crud-card {
  background-color: #f1e4ee;
  width: 100rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
}

.crud-table {
  max-width: 50rem;
}

.crud-table > thead {
  height: 50px;
  width: 100%;
}

.crud-table > tbody > * {
  text-align: center;
  height: 50px;
}

.curd-option {
  display: flex;
  justify-content: flex-end;
  gap: 3px;
  padding-right: 10px;
}

.options-button,
.create-button {
  display: flex;
  align-items: center;
  justify-items: center;
  border-radius: 5px;
  background-color: #045f98;
  margin: 0.5rem;
  padding: 0.5rem 2rem;
  cursor: pointer;
}

.options-button:active {
  transform: scale(0.9);
}

.options-button > img {
  width: 1.5rem;
  height: auto;
}

.create-button {
  color: white;
  align-self: flex-end;
  padding: 0.5rem 2rem;
  height: 2.5rem;
  display: flex;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 5rem;
  padding-right: 5rem;
  justify-content: center;
  border-radius: 0.25rem;
}

.create-button > img {
  width: 1.5rem;
  height: auto;
}

.create-button > h4 {
  width: 100%;
  margin-right: 20px;
}
.region {
  display: flex;
  max-width: 50rem;

  flex-direction: column;
}
.footerRegion {
  display: grid;
  justify-content: end;
  max-width: 50rem;
}
#regionPanel {
  min-width: 40rem;
}
