.crud-container {
  width: 100%;
  /*display: flex;
  align-items: center;
  justify-content: center;*/
}

.crud-card {
  background-color: #F1E4EE;
  width: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
}

.crud-table {
  width: 100%;
}

.crud-table > thead {
  height: 50px;
  width: 100%;
}

.crud-table > tbody > * {
  text-align: center;
  height: 50px;
}

.curd-option {
  display: flex;
  justify-content: flex-end;
  gap: 3px;
  padding-right: 10px;
}

.options-button, .create-button{
  display: flex;
  align-items: center;
  justify-items: center;
  border-radius: 5px;
  background-color: #045f98;
  padding: 5px;
  cursor: pointer;
}

.options-button > img {
  width: 25px;
  height: auto;
}

.create-button {
  color: white;
  align-self: flex-end;
  margin: 10px;
  width: 120px;
  height: 38px;
  display: flex;
}

.create-button > img {
  width: 25px;
  height: auto;
}

.create-button > h4 {
  width: 100%;
  margin-right: 20px;
}